<!-- form handling -->
<form method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="id">ID</label>
            <!-- <input type="hidden" name="id" value=""> -->
            <input type="text" name="id" value="" placeholder="eg:1234">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="username" value="" placeholder="JustinBieber29">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" value="" placeholder="*******">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="salary"> Salary </label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="salary" value=" < 5lac">
                <label for="radio-2" class="radio-label">
                    < 5lac </label> </div> <div class="radio inline">
                        <input type="radio" id="radio-3" name="salary" value=" > 5lac">
                        <label for="radio-3" class="radio-label"> >5lac </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update"> Save </button>
        </div>
    </div>
</form>